<!-- start custom head snippets -->

<!-- Mermaid.js for Diagrams -->
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ startOnLoad: true, theme: 'dark' });

  // Kramdown converts ```mermaid into <code class="language-mermaid">
  // We need to change these to <div class="mermaid"> for mermaid to process them
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('code.language-mermaid').forEach((block) => {
      let div = document.createElement('div');
      div.className = 'mermaid';
      div.textContent = block.textContent;
      block.parentNode.replaceWith(div);
    });
    mermaid.init(undefined, document.querySelectorAll('.mermaid'));
  });
</script>

<!-- Content Security Policy -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self' https: 'unsafe-inline' 'unsafe-eval'; img-src 'self' https: data:; frame-src 'self' https:;">

<!-- Terminal CSS -->
<link rel="stylesheet" href="/assets/css/terminal.css">

<!-- end custom head snippets -->
